header {
    background-color: seagreen;
    color: white;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2em;
}

.menu {
    font-size: 1.5em;
    margin: 0 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding 10px;
}

.pokemon-item {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: gainsboro;
}

.index-image {
    width: 100%;
    height: auto;
}


.show-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.show-pokemon-info {
    padding: 10vh;
    display: flex;
}

